//	Если шрифты подключили локально, то они автоматически конвертируются и попадут в файл fonts.sass, 
//	тогда расскоментировать строчку ниже
// @import utils/fonts

// При подключении шрифтов через Google Fonts, ломается импорт в скомпиленном css файле,
// Google fonts поменяли что-то в API, и теперь их ссылки конфликтуют с минимайзерами и компиляторами.
// Для решения проблемы можно подключить шрифты через link в pug файле
@import utils/reset
@import utils/mixins
@import utils/global
@import components/header
@import components/footer
.no-active
	transition: transform 1s ease !important
.main
	gap: 50px
	width: 100%
	height: 100%
	display: flex
	justify-content: center
	align-items: center
	&__card
		&-wrapper
			perspective: 1500px
			transform-style: preserve-3d
			will-change: transform
			width: 450px
			height: 550px
			transform: translateZ(0)
			position: relative
			transition: 0.2s transform ease
		&-main,
		&-first,
		&-second,
		&-third
			transition: 0.2s transform ease
			will-change: transform
			transform: translateZ(0)
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			text-align: center
			box-shadow: 15px 15px 20px 0px rgba(0, 0, 0, 0.3)
			top: 0%
			left: 0%
		&-main
			background-color: plum
			width: 100%
			height: 100%
			z-index: 1
		&-third
			background-color: Aquamarine
			width: 60%
			height: 60%
			z-index: 2
		&-second
			background-color: PaleGreen
			width: 40%
			height: 40%
			z-index: 3
		&-first
			background-color: tomato
			width: 20%
			height: 20%
			z-index: 4
