doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header

		main.main
			.main__card-wrapper 
				.main__card-main.main Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem blanditiis magnam, porro sunt rem deleniti labore earum officiis eum. Error facere dicta aut et porro mollitia, eius tenetur? Nemo provident ullam officiis cum ratione amet tempora itaque quidem, eum commodi quibusdam illum omnis, consectetur sit, sequi non enim inventore consequatur minima harum eligendi cupiditate laboriosam quos laudantium. Tenetur suscipit nobis fugit vero magnam odio nulla beatae, atque sunt! Odit, hic ducimus voluptatibus atque enim nam quaerat ut velit. Quaerat, adipisci rem! Eos iste soluta, sint, nobis cumque est veniam temporibus hic mollitia amet error? Corrupti fuga blanditiis ratione voluptatem. Libero.
				.main__card-first.first 
				.main__card-second.second 
				.main__card-third.third 
			.main__card-wrapper 
				.main__card-main.main Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem blanditiis magnam, porro sunt rem deleniti labore earum officiis eum. Error facere dicta aut et porro mollitia, eius tenetur? Nemo provident ullam officiis cum ratione amet tempora itaque quidem, eum commodi quibusdam illum omnis, consectetur sit, sequi non enim inventore consequatur minima harum eligendi cupiditate laboriosam quos laudantium. Tenetur suscipit nobis fugit vero magnam odio nulla beatae, atque sunt! Odit, hic ducimus voluptatibus atque enim nam quaerat ut velit. Quaerat, adipisci rem! Eos iste soluta, sint, nobis cumque est veniam temporibus hic mollitia amet error? Corrupti fuga blanditiis ratione voluptatem. Libero.
				.main__card-second.second 
			.main__card-wrapper 
				.main__card-main.main Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem blanditiis magnam, porro sunt rem deleniti labore earum officiis eum. Error facere dicta aut et porro mollitia, eius tenetur? Nemo provident ullam officiis cum ratione amet tempora itaque quidem, eum commodi quibusdam illum omnis, consectetur sit, sequi non enim inventore consequatur minima harum eligendi cupiditate laboriosam quos laudantium. Tenetur suscipit nobis fugit vero magnam odio nulla beatae, atque sunt! Odit, hic ducimus voluptatibus atque enim nam quaerat ut velit. Quaerat, adipisci rem! Eos iste soluta, sint, nobis cumque est veniam temporibus hic mollitia amet error? Corrupti fuga blanditiis ratione voluptatem. Libero.
					
		include components/footer
		script(src='js/app.min.js')
