doctype html
html(lang="ru")
	head
		include utils/meta
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", href="files/favicon.ico")
		include utils/fonts
		title Main Page
	body
		include components/header

		main.main
			.main__card-wrapper 
				.main__card-main.main 
				.main__card-first.first 
				.main__card-second.second 
				.main__card-third.third 
			.main__card-wrapper 
				.main__card-main.main 
				.main__card-second.second 
			.main__card-wrapper 
				.main__card-main.main 
					
		include components/footer
		script(src='js/app.min.js')
